.titlebar + scrolledwindow undershoot.top {
    background:
        linear-gradient(
            @borders,
            alpha(black, 0.05) 1px,
            alpha(black, 0.0) 4px
        );
}

.header-area > image {
    -gtk-icon-size: 48px;
    padding: 6px 0 6px 6px;
}

.header-area > image:dir(ltr) {
    /*Match square icon canvas whitespace at 48px*/
    margin-left: -4px;
    margin-right: 7px;
}

.header-area > image:dir(rtl) {
    margin-left: 7px;
    margin-right: -4px;
}

.header-area label.title-2 {
    font-weight: 600;
    font-size: 2rem;
}

.header-area label:not(.title-2) {
    font-size: 0.95rem;
    opacity: 0.85;
}

.content-area {
    padding: 12px;
}
